body{
    background-image: url("../images/backgrounds/sport.jpeg");
    background-attachment: fixed;
    min-height: 90vh;
}
.selFile{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    display: none;
}
.dropdown{
    cursor: pointer;
}
.logo{
    position: relative;
    bottom: 15px;
}
footer{
    width: 80%;
    position: fixed;
    bottom:0;
    right: 10%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}
.container-fluid{
    margin-left: 10vw!important;
    margin-right: 10vw!important;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
    padding:10px 10px 5px 30px;
    border-radius: 5px;
}
.imgEdit{
    max-height: 300px;
    max-width: 300px;
}
#maintitle{
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.8vw;
}
.navbar-default{
    background-color: transparent!important;
    border: none!important;
    margin-bottom: 30px;
}
.list-group-item > a{
    cursor: pointer;
}
#btnClose {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#btnMenu{
    cursor: pointer;
}
.stage{
    width: 200px;
    height: 180px;
    float: right;
    margin-right: 5%;
}
.container{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
paddAll{
    padding-left:10px;
    padding-right:10px;
}
#profile{
    font-size:14px;
    cursor: pointer;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
#profile:hover{
    background-color: #5b85de!important; 
    transition: all 0.5s ease;
}
.myBar{
    padding-left: 40px;
    padding-right: 40px;
}
.imgContainer{
    position: relative;
}
.centerTs{
    margin-left:25px!important;
}
#imgProfile{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.radLeft{
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.radRight{
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
.rad{
    border-radius:10px;
}
#fadeEffect{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textEffect {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
.hidden{
    visibility: hidden;
}
.margin-bt{
    margin-bottom: 30px;
}
.fancyTitle{
    font-family: 'Bree Serif', serif;
}
    /*GRACKET*/
.g_gracket { width: 100%!important; background-color: #fff; padding: 55px 15px 5px; line-height: 100%; position: relative; overflow: hidden;}
.g_round { float: left; margin-right: 70px; }
.g_game { position: relative; margin-bottom: 15px; }
.g_gracket h3 { margin: 0; padding: 10px 8px 8px; font-size: 18px; font-weight: normal; color: #fff}
.g_team { background: #3597AE; }
.g_team:last-child {  background: #ff5c33; }
.g_round:last-child { margin-right: 20px; }
.g_winner { background: #444; }
.g_winner .g_team { background: none; }
.g_current { cursor: pointer; background: #A0B43C!important; }
.g_round_label { top: -5px; font-weight: normal; color: #CCC; text-align: center; font-size: 18px; }
.g_round { float: left; margin-right: 70px; }
.g_game { position: relative; margin-bottom: 15px; }
.g_gracket h3 { margin: 0; padding: 10px 8px 8px; font-size: 18px; font-weight: normal; color: #fff}
.g_team { background: #3597AE; }
.g_team:last-child {  background: #ff5c33; }
.g_round:last-child { margin-right: 20px; }
.g_winner { background: #FCB821; }
.g_winner .g_team { background: none; }
.g_current { cursor: pointer; background: #000066!important; }
.g_round_label { top: -5px; font-weight: normal; color: #CCC; text-align: center; font-size: 18px; }   